<md-dialog aria-label="Select Date Range">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h3 class="md-title">Select Date Range</h3>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon class="material-icon">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<form ng-cloak ng-submit="answer()" name="dateForm">
		<md-dialog-content layout="column" layout-align="center center">
			<div class="md-dialog-content">
				<div flex>
					<h4>Select Start Date</h4>
					<md-datepicker name="startDate" ng-model="dateFilter.startDate" md-placeholder="Enter date" required ng-change="checkDate()" md-open-on-focus></md-datepicker>
				</div>

				<div flex>
					<h4>Select End Date</h4>
					<md-datepicker name="endDate" md-min-date="dateFilter.startDate" ng-model="dateFilter.endDate" md-placeholder="Enter date" required ng-change="checkDate()" md-open-on-focus></md-datepicker>
				</div>
				<br>
				<div><span class="md-warn" ng-if="dateFilter.validation">{{dateFilter.validationMessage}}</span></div>

			</div>

		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button type="submit" ng-disabled="dateForm.$invalid || dateFilter.validation" class="md-primary date-submit">
				Submit
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
